<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('../header.ejs') %>
</head>
<body>

<div>
    <%- include('../body.ejs') %>
    <div class="content" style="background-color:#ccced2">
        <div width="80%" >
            <br /><br /><br /><br /><br /><br /><br /><br />
            <table width="80%" style="margin: 0 auto; border:1px solid;text-align:center">
                <tr>
                    <th>Name </th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>John</td>
                    <td>US </td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>India </td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>US </td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>India </td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>US </td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>India </td>
                </tr><tr>
                    <td>John</td>
                    <td>US </td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>India </td>
                </tr>
            </table>
            <div>
    </div>
</div>
    </div>
</div>
</body>
</html>