<meta charset="utf-8">
<title>Sidebar Dashboard Template</title>
<link rel="stylesheet" href="css/nav.css">
<link rel="icon" type="image/png" href="images/cricket.ico"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
